AZURE_OPENAI_API_KEY = Your API key

AZURE_OPENAI_CHAT_ENDPOINT=https://api-iw.azure-api.net/sig-shared-jpeast
AZURE_OPENAI_CHAT_API_VERSION=2025-01-01-preview
AZURE_OPENAI_CHAT_MODEL=gpt-4o-mini

AZURE_OPENAI_EMBEDDING_ENDPOINT=https://api-iw.azure-api.net/sig-embedding
AZURE_OPENAI_EMBEDDING_API_VERSION=2024-10-21
EMBEDDING_MODEL=text-embedding-3-small
